mysrcs/*
cil/*
!cil/src
cil/src/*
!cil/src/ext
!cil/src/main.ml
!cil/src/test0.ml
!cil/src/learning.ml
cil/src/ext/*
!cil/src/ext/learning.ml
!cil/src/ext/crestInstrument.ml
tests/*/*
!tests/*/*.c
tests/*/*.cil.c
bin/*
experiments/*
tests/cdaudio/*
tests/floppy/*
tests/kbfiltr/*
